:root
{
    --background-color:#313145;
    --secondary-color:#797FA7;
    --text-color:#E0E3F1;
    --accent-color-1:#82EE30;
    --accent-color-2:#f1063d;
}

#titleBar
{
    display: flex;
    float: top;
}

#InfoGoblinLogo
{
    background-color: var(--background-color);
    border-width: 3px;
    border: var(--secondary-color);
    border-bottom-style: solid;
    border-right-style: solid;
    padding: 10px;
    margin: 0px;
    width: 140px;
    height: 140px;
    border-bottom-right-radius: 10px;
}

#GitHubLogo
{
    position: fixed;
    right: 0px;
    background-color: var(--background-color);
    border-width: 3px;
    border: var(--secondary-color);
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 10px;
    margin: 0px;
    width: 140px;
    height: 140px;
    border-bottom-left-radius: 10px;
}

.titleContainer
{
    display:block;
    visibility: visible;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: var(--background-color);
    border-bottom-width: 3px;
    border-bottom: var(--secondary-color);
    border-bottom-style: solid;
    margin-top: 0px;
    margin-bottom: 50px;
    position: absolute;
    z-index: -1;
}

.title 
{
    color: var(--text-color);
    text-align: center;
    font-family: "nelson", serif;
    font-weight: 700;
    font-style: normal;
    margin: -20px;
    font-size: 75px;
}

.subtitle
{
    color: var(--text-color);
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.loginField
{
    display: flex;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
}

.loginContainer
{
    display:block;
    visibility: visible;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 324px;
    background-color: var(--background-color);
    border-width: 3px;
    border: var(--secondary-color);
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 50px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

.registerContainer
{
    display:block;
    visibility: visible;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 324px;
    background-color: var(--background-color);
    border-width: 3px;
    border: var(--secondary-color);
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 50px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

.textField
{
    visibility: visible;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin: 3px;
    width: 300px;
    font-family: "Trykker", serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.textField:focus
{
    outline-style: none;
    border-color: var(--accent-color-1);
}

.loginButton
{
    visibility: visible;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin-left: 3px;
    margin-top: 5px;
    padding: 3px;
    width: 100px;
    transition-duration: 0.5s;
    font-family: "Trykker", serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.loginButton:hover {
    background-color: var(--secondary-color);
}

.loginButton:active {
    transition-duration: 0s;
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
}

.loginSectionTitle {
    color:var(--text-color);
    font-size: 28px;
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1px;
}

.errorText {
    color:var(--accent-color-2);
    font-size: 18px;
    font-family: "Trykker", serif;
    font-weight: 400;
    width: 300px;
    font-style: normal;
}

.background
{
    background-image: url("../images/infogoblinsBg.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.contactTable {
    border-collapse: collapse;
    border: 2px solid black; 
    padding: 5px;
}

.tableCell {
    border: 1px solid black;
    padding: 5px;
}